.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
.button {

}


.link{
    list-style: none;
    color: #333333;
}
.link2{
    list-style: none;
    font-size: 20px
}
.link2:hover{
    background-color: #d7dbdd;
}

.modal {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.cards {
    margin-top: 30px;
    display: flex;
    flex-flow: wrap;
}
.cards img {
    margin: 30px;
    width: 20%;
    height: 20%;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

.modalBody {
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    background:#ffffff;
    height: 50%;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.portfolioItems {
margin: 40px;
}

.portfolioItems img {

    max-width: 350px;

}

.portfolioItems p {
    margin-top:  20px;

}

@media (max-width: 768px) {
    /* показываем кнопку для переключения верхней навигации */
    .portfolioItems img{
       max-width: 150px;
    }
}

